/*
Theme Name: Miegymás cafe&more Theme
Author: Einnovart Kft.
Author URI: http://einnovart.hu/
Description: Ez egy egyedi téma a Miegymás cafe&more számára
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
@import url('css/bootstrap.min.css');

html, body {
    width: 100%;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 12pt;
    color: #fff;
}

a {
    color: #eb566a;
    text-decoration: none !important;
}

a:hover, a:focus {
    color: #ff5a5f;
}

.hero {
    background-image: url("/wp-includes/images/nyito.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
}

.overlay-pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #000;
    opacity: .4;
}

.hero h1 {
    font-size: 20pt;
    font-weight: 300;
    color: #fff;
    padding: 0;
    white-space: initial;
}

.hero p {
    font-weight: 300;
    color: #fff;
    white-space: initial;
}

/* This parent can be any width and height */
.block {
    text-align: center;
    white-space: nowrap;
}

/* The ghost, nudged to maintain perfect centering */
.block:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

.hero-text-container {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    text-align: left;
}

.intro {
    background: rgba(0, 0, 0, .5);
    padding: 10px;
    margin: 15px 0;
}

@media (min-width: 768px) {
    html, body {
        height: 100%;
    }

    body {
        font-size: 14pt;
    }

    .hero h1 {
        font-size: 30pt
    }

    .intro{
        padding: 40px;
    }
}
